.hightlights {
    margin-top: 24px;

    .title {
      font-size: 2rem;
      color: #e7e7eb;
      margin-bottom: 16px;
    }

    .hightlights-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 16px;

      @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }
      .card {
        color: #e7e7eb;
        background-color: #1e2239;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          font-size: 1rem;
          font-weight: normal;
        }

        .principal {
          font-size: 3rem;
        }

        .card-footer {
          display: flex;
          align-items: center;
          padding: 24px 0;
        }
      }
    }
  }